extends container
block content
    h2 Welcome dear #{username}
    p You are receiving this email because we received a password reset request for your account.
    a(href=`${ FRONTEND_URL }/password/forgot/${ action_token }`) Reset Password
    p If you did not request a password request, no further action is required